<footer style="background-image:linear-gradient(90deg,black,rgb(70, 94, 120)); color: white; text-align: center; padding: 10px 0; margin: 20px 0px 0px 0px;">
    Cantact infromation:
<br>
<br>

<h3>+91 _ _ _ _ _ _ _ _ _ _</h3>
<br>

     !  ---------------   --------------------  -------------   !
    </p>
  </footer>